<%= form_for(@article)do |f| %>
  <div class="titre-soustitre">
    <%= f.text_field :title, placeholder: "Titre" %>
    <%= f.text_field :subtitle, placeholder: "Soustitre ou URL pour les partenaires" %>
  </div>
  <div class="text-area-trix">
    <%= f.rich_text_area :content %>
  </div>
  <div class="categories">
    <%= f.radio_button :category, 'projet' %>
    <%= label :category_application, 'Projets' %>
    <%= f.radio_button :category, 'atelier' %>
    <%= label :category_atelier, 'Ateliers' %>
    <%= f.radio_button :category, 'formation' %>
    <%= label :category_formation, 'Formations' %>
    <%= f.radio_button :category, 'partenaire' %>
    <%= label :category_partenaire, 'Partenaires' %>
    <%= f.radio_button :category, 'archive' %>
    <%= label :category_archive, 'Archives' %>
  </div>
  <%= f.file_field :photo, as: :file %>
  <div>
    <%= f.button :submit, class: 'add-article-btn' %>
  </div>
<% end %>
