<div class="categories-menu">
  <div class="favicon-img">
    <%= link_to root_path do %>
      <%= image_tag "roche2", alt: "Laura Cattabianchi", class: "navbar-roche" %>
    <% end %>
  </div>
  <div class="link-to-collapse">
    <a  class=""
        data-toggle="collapse"
        data-target=".collapse.first"
        data-text="Collapse">
        palomitas
    </a>
  </div>
  <div>|</div>
  <div class="current-category">
    <%= link_to "#{params[:category]}s", category_path(category: params[:category]) %>
  </div>
</div>
<div class="block collapse first">
    <div class="block__content">
    <%= render "pages/home" %>
  </div>
</div>
<div class="flex-article-list">
  <% @articles.each do |article| %>
    <% if article.category == "partenaire" %>
        <div class="partenaire_img">
          <%= cl_image_tag article.photo.key%>
        </div>
    <% else %>
      <%= link_to(article_path(article), html_options = {class: "article-link"} )do  %>
        <div class="article-btn <%#= article.category%>" style="background-image: url('<%= cl_image_path article.photo.key, height: 110, width: 110, crop: :fill %>')">
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
