<div class="categories-menu">
  <div class="favicon-img">
    <%= link_to root_path do %>
      <%= image_tag "roche2", alt: "Laura Cattabianchi", class: "navbar-roche" %>
    <% end %>
  </div>
  <div class="link-to-collapse">
    <a  id="collapsor" >
        palomitas
    </a>
  </div>
  <div></div>
  <div class="current-category">
  </div>
</div>

<%= render "pages/adminbar" %>

<div id="toCollapse" class="collapse">
    <div class="block__content">
    <%= render "pages/home" %>
  </div>
</div>

<div class="flex-article-list admin">
  <h5 class="h5-with-margin">Modifier cet article</h5>
  <%= render "form" %>
</div>
