<%= form_for(@article)do |f| %>
    <div>
      <%= f.text_field :title, placeholder: "Title" %>
      <%= f.text_field :subtitle, placeholder: "Subtitle or URL" %>
      <%= f.text_field :legend, placeholder: "Legend" %>
    </div>
    <div class="my-4">
      <%= f.rich_text_area :content %>
    </div>
    <div>
      <%= f.radio_button :category, 'Application' %>
      <%= label :category_application, 'Application' %>
      <%= f.radio_button :category, 'Actualité' %>
      <%= label :category_actualite, 'Actualité' %>
      <%= f.radio_button :category, 'Atelier' %>
      <%= label :category_atelier, 'Atelier' %>
      <%= f.radio_button :category, 'Formation' %>
      <%= label :category_formation, 'Formation' %>
      <%= f.radio_button :category, 'Livre' %>
      <%= label :category_livre, 'Livre' %>
      <%= f.radio_button :category, 'Musique' %>
      <%= label :category_musique, 'Musique' %>
      <%= f.radio_button :category, 'Partenaire' %>
      <%= label :category_partenaire, 'Partenaire' %>
      <%= f.radio_button :category, 'Archive' %>
      <%= label :category_archive, 'Archive' %>
    </div>
    <%= f.file_field :photo, as: :file %>
    <div class="my-4">
      <%= f.button :submit, class: 'btn btn-outline-success' %>
    </div>
<% end %>




