<div class="categories-menu">
  <%= link_to category_path(category: @article.category), class: "z-1 backlink" do %>
  <i class="fas fa-arrow-circle-left"></i>
  <% end %>

  <a class="z-1"
    data-toggle="collapse"
    data-target=".collapse.first"
    data-text="Collapse">
  Laura Cattabianchi
</a>
<div class="block collapse first">
    <div class="block__content">
    <%= render "pages/home" %>
  </div>
</div>
</div>
<div class="article-view <%#= @article.category%>">
  <h1><%= @article.title %></h1>
  <h3><%= @article.subtitle %></h3>
  <% if @article.category == 'Actualité' %>
    <p class="posted-date"><%=  @article.created_at.strftime("Posted on %m/%d/%Y") %></p>
  <% end %>
  <%#= cl_image_tag @article.photo.key%>
  <% if @article.legend %>
    <p class="legend">
      <%= @article.legend %>
    </p>
  <% end %>
  <p><%= @article.content %></p>
  <% if @article.category == 'Formation' || @article.category == 'Atelier' %>
    <%= link_to new_contact_path do  %>
      <p class="btn btn-outline-dark contact-link-show">✏️ Vous voulez plus d'infos ? Ecrivez moi ! ✉️</p>
    <% end %>
  <% end %>
</div>
