<div class="article-show">
  <h1><%= @article.title %></h1>
  <h3><%= @article.subtitle %></h3>
  <%= cl_image_tag @article.photo.key%>
  <% if @article.legend %>
    <p class="legend">
      <%= @article.legend %>
    </p>
  <% end %>
  <p><%= @article.content %></p>
</div>
