<div class="home-container">
  <div class="home-btns">
    <div class="btn-with-rock z-1" data-turbolinks="false">
      <%= link_to category_path(category: "formation") do  %>
        <%= image_tag "roche", alt: "formations" %>
        <p>Formations</p>
      <% end %>
    </div>
    <div class="btn-with-rock z-2" data-turbolinks="false">
      <%= link_to category_path(category: "atelier") do  %>
        <%= image_tag "roche2", alt: "ateliers" %>
        <p>Ateliers</p>
      <% end %>
    </div>
    <div class="btn-with-rock z-3" data-turbolinks="false">
      <%= link_to category_path(category: "projet") do  %>
        <%= image_tag "roche3", alt: "projets" %>
        <p>Projets</p>
      <% end %>
    </div>
    <div class="btn-with-rock z-4" data-turbolinks="false">
      <%= link_to contacts_path do  %>
        <%= image_tag "roche4", alt: "contacts" %>
        <p>Contacts</p>
      <% end %>
    </div>
    <div class="btn-with-rock z-5" data-turbolinks="false">
      <%= link_to category_path(category: "partenaire") do  %>
        <%= image_tag "roche5", alt: "partenaires" %>
        <p>Partenaires</p>
      <% end %>
    </div>
  </div>
</div>
