<div class="nav-bar-left">
  <%= link_to "LAURA CATTABIANCHI", root_path, class: "home-btn"  %>



  <div class="menu">
    <!-- images en png : 155px x 55px-->
    <div id="but1" class="button one">
      <%= link_to articles_actualites_path do %>
        <h5>En cours</h5>
        <%= image_tag "roche3", alt: "buttonbg" %>
      <% end  %>
    </div>

    <div id="but2" class="button two">
      <%= link_to articles_formations_path do %>
        <h5>Formations</h5>
        <%= image_tag "roche2", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but3" class="button three">
      <%= link_to articles_ateliers_path do %>
        <h5>Ateliers</h5>
        <%= image_tag "roche5", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but4" class="button four">
      <%= link_to articles_applications_path do %>
        <h5>Apps</h5>
        <%= image_tag "roche4", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but5" class="button five">
      <%= link_to welcome_bio_path do %>
        <h5>Qui je suis</h5>
        <%= image_tag "roche6", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but6" class="button six">
      <%= link_to articles_partenaires_path do %>
        <h5>Partenaires</h5>
        <%= image_tag "roche", alt: "buttonbg" %>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="options">
      <div class="btn-danger darklogout">
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </div>
      <div class="btn-primary darklogout">
        <%= link_to 'Tutti', articles_path %>
      </div>
      <div class="btn-success darklogout">
        <%= link_to 'Nuovo', new_article_path %>
      </div>
      <!-- add more buttons here -->
    </div>
  <% end %>
</div>
