<div class="nav-bar-left">
  <%= link_to root_path do  %>
    <div class="logo">
      <h1>LAURA CATTABIANCHI</h1>
      <!-- <h4>Formatrice et médiatrice multimédia</h4> -->
    </div>
  <% end %>
  <div class="menu">
    <!-- images en png : 155px x 55px-->
    <div id="but1" class="button one">
      <%= link_to articles_actualites_path do %>
        <h5>Actualités</h5>
        <%= image_tag "roche3", alt: "buttonbg" %>
      <% end  %>
    </div>

    <div id="but2" class="button two">
      <%= link_to articles_formations_path do %>
        <h5>Formations</h5>
        <%= image_tag "roche2", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but3" class="button three">
      <%= link_to articles_ateliers_path do %>
        <h5>Ateliers</h5>
        <%= image_tag "roche5", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but4" class="button four">
      <%= link_to articles_applications_path do %>
        <h5>Apps</h5>
        <%= image_tag "roche4", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but5" class="button five">
      <%= link_to welcome_bio_path do %>
        <h5>Qui je suis</h5>
        <%= image_tag "roche6", alt: "buttonbg" %>
      <% end %>
    </div>

    <div id="but6" class="button six">
      <%= link_to articles_partenaires_path do %>
        <h5>Partenaires</h5>
        <%= image_tag "roche", alt: "buttonbg" %>
      <% end %>
    </div>

    <!-- <div id="but7" class="button blacktext">
      <%#= link_to "#" do %>
        <h5>Partenaires</h5>
        <%#= image_tag "pave7", alt: "buttonbg" %>
      <%# end %>
    </div>

    <div id="but8" class="button blacktext">
      <%#= link_to "#" do  %>
        <h5>Qui suis-je ?</h5>
        <%#= image_tag "pave8", alt: "buttonbg" %>
      <%# end %>
    </div>

    <div id="but9" class="button blacktext">
      <%#= link_to new_contact_path do  %>
        <h5>Contact</h5>
        <%#= image_tag "pave9", alt: "buttonbg" %>
      <%# end %>
    </div> -->
  </div>
</div>
