<div class="nav-bar-left">
  <a href="./index.html">
    <div class="logo">
      <h1>LAURA CATTABIANCHI</h1>
      <h4>Formatrice et médiatrice multimédia</h4>
    </div>
  </a>
  <div class="menu">
    <!-- images en png : 155px x 55px-->
    <div id="but1" class="button one">
      <a href="./actu-fr.html">
        <h5>Actualités</h5>
        <%= image_tag "roche", alt: "buttonbg" %>
      </a>
    </div>

    <div id="but2" class="button two">
      <a href="./forma-fr.html">
        <h5>Formations</h5>
        <%= image_tag "roche2", alt: "buttonbg" %>
      </a>
    </div>

    <div id="but3" class="button three">
      <a href="./atel-fr.html">
      <h5>Ateliers</h5>
      <%= image_tag "roche3", alt: "buttonbg" %>
      </a>
    </div>

    <div id="but4" class="button four">
      <a href="./app-fr.html">
      <h5>Applications</h5>
      <%= image_tag "roche4", alt: "buttonbg" %>
      </a>
    </div>

    <div id="but5" class="button five">
      <a href="./livr-fr.html">
      <h5>Livres</h5>
      <%= image_tag "roche5", alt: "buttonbg" %>
      </a>
    </div>

    <div id="but6" class="button six">
      <a href="./musi-fr.html">
      <h5>Musique</h5>
      <%= image_tag "roche6", alt: "buttonbg" %>
        </a>
    </div>

    <div id="but7" class="button blacktext">
      <a href="./part.html">
      <h5>Partenaires</h5>
      <%= image_tag "pave7", alt: "buttonbg" %>
      </a>
    </div>

    <div id="but8" class="button blacktext">
      <a href="./qui.html">
      <h5>Qui suis-je ?</h5>
      <%= image_tag "pave8", alt: "buttonbg" %>
      </a>
    </div>

    <div id="but9" class="button blacktext">
      <a href="./contact.html">
      <h5>Contact</h5>
      <%= image_tag "pave9", alt: "buttonbg" %>
      </a>
    </div>
  </div>
</div>
