<!DOCTYPE html>
<html>
  <head>
    <title>Lauracatta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex">
      <div class="col-4">
        <%= render 'layouts/left_bar' %>
      </div>
      <div class="col-6 d-flex flex-wrap main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
