<!DOCTYPE html>
<html>
  <head>
    <title>Laura Cattabianchi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="lauras-flexbox">
      <%= render 'layouts/left_bar' %>

      <div class="cards-set">
        <%= yield %>
      </div>

      <%= render 'layouts/flashes' %>
    </div>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
